/* CUERPO */
.body-index{
    background-image: url(../img/pool_table.png);
    font-family: Arial, Helvetica, sans-serif;      
    color: black;
  }

.body-color-var{
    background-color: wheat;
}

.body-color-var2{
    background-color: dimgray;
}