/* CUERPO */
.body-index{
    background-image: url(../img/pool_table.png);   
    color: black;
  }

.body-color-var{
    background-color: wheat;
}

.body-color-var2{
    background-color: dimgray;
}