$medida: 100px;

/* FORMULARIOS */
.estiloFormDt,
.estiloForm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #ccc;
}

/* HTML CONTACTO */
#seccionContacto{
    width: 250px;
    margin: auto;
}   

.estiloFormDt select,
.estiloForm select{
    width: 250px;
    height: 30px;
    border: 3px solid grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #333;
}

.estiloFormDt .nacion{
    margin: 20px;
    margin-left: 76px;
}
.estiloFormDt .edad{
    margin: 20px;
    margin-left: 133px; 
}
.estiloFormDt .proced{
    margin: 20px;
    margin-left: 80px;
}
.estiloFormDt .estilo{
    margin: 20px 60px; 
}
.estiloFormDt .formacion{
    margin: 20px 24px; 
}

.estiloForm .nacion{
    margin: 20px;
    margin-left: 78px;
}
.estiloForm .edad{
    margin: 20px;
    margin-left: 135px;
}
.estiloForm .posicion{
    margin: 20px;
    margin-left: 110px;
}
.estiloForm .posicionDet{
    margin: 20px 39px;
}
.estiloForm .proced{
    margin: 20px;
    margin-left: 80px;
}
.estiloForm .pierna{
    margin: 20px 84px;
}

form{
    padding: 20px;
}

.table-jugadores{
    cursor: pointer;
}

.contenido-scout img,
.contenido-scout-dt img{
    width: 600px;
    float: right;
    margin: 50px;
}

.titulo-ojeadores{
    background-color: #ccc;
    border: 3px solid black;
    width: 500px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px){

    .titulo-ojeadores{
        font-size: 10px;
    }

    .contenido-scout,
    .contenido-scout-dt{
        img{
            display: none;
        }
    }
    .estiloForm .nacion{
        margin: 15px 40px;    
    }
    .estiloForm .edad{
        margin: 15px 30px;   
    }
    .estiloForm .posicion{
        margin: 15px 31px;   
    }
    .estiloForm .proced{
        margin: 15px 44px; 
    }
    .estiloForm .pierna{
        margin: 15px 48px;   
    }
    

    .estiloFormDt .nacion{
        margin: 15px 52px;     
    }
    .estiloFormDt .edad{
        margin: 15px 42px;  
    }
    .estiloFormDt .proced{
        margin: 15px 56px;
    }
    .estiloFormDt .estilo{
        margin: 15px 38px;
    }
    .estiloForm .posicionDet,   
    .estiloFormDt .formacion{
        margin: 14px 5px;
    }
    .estiloForm, .estiloFormDt{
        width: 500px;
        label{
            font-size: 15px;
        }
        .label-responsive{
            width: 100px;
        }
    }

    
}
