$medida: 100px;

/* FORMULARIOS */
.estiloFormDt,
.estiloForm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #ccc;
}

/* HTML CONTACTO */
#seccionContacto{
    width: 250px;
    margin: auto;
}   

.estiloFormDt select,
.estiloForm select{
    width: 250px;
    height: 30px;
    border: 3px solid grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #333;
}

@mixin margenes ($margin){
    margin: 20px;
    margin-left: $margin;
}

.estiloFormDt .nacion{
    @include margenes(76px);
}

.estiloFormDt .proced{
    @include margenes(80px);
}
.estiloFormDt .estilo{
    @include margenes(60px);
}
.estiloFormDt .formacion{
    @include margenes(24px);
}

.contenido-scout-dt img{
    width: 500px;
    float: right;
    margin: 40px;
}

.estiloForm .nacion{
    @include margenes(78px);
}

.estiloForm .edad{
    @include margenes(135px);
}

.estiloForm .posicion{
    @include margenes(110px);
}

.estiloForm .posicionDet{
    @include margenes(40px);
}

.estiloForm .proced{
    @include margenes(81px);
}

.estiloForm .pierna{
    @include margenes(85px);
}

form{
    padding: 20px;
}

.table-jugadores{
    cursor: pointer;
}

.contenido-scout img{
    width: 500px;
    float: right;
    margin: 50px;
}

.titulo-ojeadores{
    background-color: #ccc;
    border: 3px solid black;
    width: 500px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1090px){


    .titulo-ojeadores{
        font-size: 10px;
        width: 375px;
    }

    .contenido-scout,
    .contenido-scout-dt{
        img{
            display: none;
        }
    }
    .estiloForm .nacion{
        @include margenes(42px);    
    }
    .estiloForm .edad{
        @include margenes(32px);   
    }
    .estiloForm .posicion{
        @include margenes(31px);  
    }
    .estiloForm .posicionDet{
        @include margenes(5px);
    }
    .estiloForm .proced{
        @include margenes(44px);
    }
    .estiloForm .pierna{
        @include margenes(46px); 
    }
    

    .estiloFormDt .nacion{
        @include margenes(46px);   
    }
    .estiloFormDt .proced{
        @include margenes(50px);
    }
    .estiloFormDt .estilo{
        @include margenes(32px);
    } 
    .estiloFormDt .formacion{
        @include margenes(-1px);
    }
    .estiloForm, .estiloFormDt{
        width: 400px;
        label{
            font-size: 15px;
        }
        select{
            width: 200px;
        }
        .label-responsive{
            width: 100px;
        }
    }

    
}
