
/* HTML COPALIGA - TABLAS */
table{
    width: 400px;
    background-color:rgba(128, 128, 128,.10);
    color: black;
    margin: 20px 0px;
}

tr th{
    background-color:darkslategray;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.clubesClasif{
    background-color: green;
}

.posResultado{
    text-align: center;
    font-weight: bold;
}

.equipo{
    width: 150px;
}

.goles td p{
    font-size: 12px;
    margin: 1px;
}

.seccionPartidos .goles li{
    list-style-type: circle;
    font-size: 12px; 
}

.tele{
    width: 20px;
}

.seccionPartidos{
    width: 400px;
    margin: auto;
}

.equipoCampeonArg{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background: radial-gradient(ellipse, red, black );
}

.equipoCampeonIng{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background: radial-gradient(ellipse, rgb(25, 92, 179), white);
}
.equipoCampeonEsp{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background: radial-gradient(ellipse, red, blue, white);
}
.equipoCampeonIta{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background: radial-gradient(ellipse, black, blue );
}
.equipoCampeonAle{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background: radial-gradient(ellipse, white, red );
}

.contenido-posiciones{
    display: inline-block;
    margin: 20px 10px 5px 150px;
}

.estiloFormTemporada {
    background-color: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    select{
        width: 300px;
        height: 25px;
        border: 3px solid grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #333;
    }    
}

.titulo-posiciones{
    padding: 6px;
}
.titulo-fecha{
    background-color: darkslategray;
    display: flex;
    justify-content:center;
    padding: 4px;
    h4{
        font-size: 16px;
    }
    .fecha-1{
        margin-left: 38px;
    }
    .fecha-liga{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 20px;
    }      
  }


/* HTML IFRAME PARTIDOS */
.seccionVideo{
    width: 500px;
}

@media only screen and (max-width: 768px){
    
    .contenido-posiciones{
        margin: 0;
    }

}