@import "formularios";
@import "seccion-ligas";
@import "guia-copa-america";
@import "seccion-copas";
@import "seccion-equipos";
@import "seccion-ranking";
@import "body-colores";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
/* TITULOS */

.logoPrincipal{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px;
  margin-right: 250px;
  margin-left: 50px;  
}

h1, h2{
  margin: 30px;
  font-weight: bold;
  font-size: 1.5em;  
}

h4{
  color: white;
  text-decoration: underline;
  text-align: center;
  background-color: darkslategray;
  font-size: 1em;
  font-weight: bold;
}

a{
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  text-decoration: none;
  
}

.carousel-portada{
  height: 750px;
}

/* MENU DESPLEGABLE */
nav{
  font-size: 14px;
}

.nav-index{
  font-size: 14px;
  position: relative;
  bottom: 750px;
  z-index: 1;
}

ul ul li {
  width: 190px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}



.menu-boot:hover{
  color: white;
  border-bottom: 5px solid black;
}

.submenu-boot{
  background:rgb(35, 59, 59);
}

.submenu-boot li{
  a{
    color: white;
  }
  i{
    color: white;
  }
} 

.submenu-boot li a:hover{
  color: gray;
}

/* IMAGENES INDEX */

.iconosIndex{
  width: 15px;
}

.logoPelota {
  background-color: white;   
  width: 30px;
  border-radius: 50%;
  position: relative;
  right: 5px;
  bottom: 5px;
  animation: animacion 3s linear 0s alternate;
  transition: all 2s ease;
}

.logoPelota:hover{
  transform:rotate(360deg); 
}

/*----- ANIMACION PELOTA -------*/
@keyframes animacion {
  from { }
  to {
    transform:rotate(360deg);
  }
} 

/* FOOTER */
.contacto{
         display: flex;
         justify-content:center;
         align-items:center;
         .seccion-contacto{
                           padding: 0.5rem;
         }
         .boton-contacto{
           width: 120px;
         }
}

.susc-opciones{
  color: rgba(255,255,255,0.8);
  font-family: 'Roboto', sans-serif;
}

.pie a:hover{
  color: white;
}

footer .redes i{
  font-size: 1.2rem;
}

.pie{
  background-color: rgba(47, 79, 79,.8);
  padding: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
  bottom: 75px;
}


.redes{
      display: flex;
      justify-content:center;
      align-items:center;
      list-style: none;
      a{
        color: rgba(255, 255, 255, 0.5);
      }
      li{
        padding: 0.5rem;
      }
}

#nombreCreador{
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}

.barra-div{
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  width: 50%;
  margin:0 auto;  
}

/* BOTONES VOLVER/ARRIBA */

.footer__volver,
.footer__arriba{
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s;
}

.footer__volver:hover,
.footer__arriba:hover{
  background-color: darkslategray;
}

.footer__volver a:hover,
.footer__arriba a:hover{
  color: black;
}

.footer__arriba i,
.footer__volver i{
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  color: black;
}

@media only screen and (max-width: 375px){
  
  .carousel-portada{
    height: 500px;
  }

  .nav-index{
    position: relative;
    bottom: 500px;
  }
  
  .logoPrincipal{
    margin:0 auto ;
  }
  nav{
    width: 375px;
  }
  .carrusel-respo{
    width: 375px;
  }

  .contenido-menu .sub-contenido-menu{
    padding: 1rem;
    border-bottom: 1px solid white;
  }

  .submenu-boot li{
    padding: 20px;
  }

  ul ul li {
    width: 250px;
  }

  .menu-boot{
    .flecha-ojeadores{
      margin-left: 9em;
    }
    .flecha-ligas{
      margin-left: 12.2em;
    }
    .flecha-copas{
      margin-left: 11.8em;
    }
    .flecha-equipos{
      margin-left: 10.8em;
    }
    .flecha-selecciones{
      margin-left: 8.2em;
    }
    &:hover{
      border-bottom: none;
    }
  }
  .submenu-boot li{
    .flecha-jug{
      margin-left: 46%;
    }
    .flecha-dt{
      margin-left: 14%;
    }
    .flecha-ligas-arg{
      margin-left: 3.2em;
    }
    .flecha-ligas-ing{
      margin-left: 3.5em;
    }
    .flecha-ligas-esp{
      margin-left: 7.5em;
    }
    .flecha-ligas-ita{
      margin-left: 7.5em;
    }
    .flecha-ligas-ale{
      margin-left: 5.5em;
    }
    .flecha-copas-america{
      margin-left: 5.6em;
    }
    .flecha-copas-eurocopa{
      margin-left: 7.7em;
    }
    .flecha-equipos-arg{
      margin-left: 7.5em;
    }
    .flecha-selecciones-rank{
      margin-left: 5.8em;
    }
  
  }

  .pie{
    display: block;
    position: relative;
    bottom: 75px;
    width: 375px;
  }
  .contacto{
    display: block;
  }
  .redes{
    margin-top: 50px;
  }
  footer .redes{
    i{
      font-size: 1rem;
      background-color: black;
      border-radius: 50%;
      padding: 11px;
      position: relative;
      right: 15px;
    }
    #logo-facebook{
      padding: 12px 15px;
    }
  } 
  
}


@media only screen and (min-width: 376px) and (max-width: 768px){
  
  .carousel-portada{
    height: 500px;
  }

  .nav-index{
    position: relative;
    bottom: 500px;
  }
  
  .logoPrincipal{
    margin:0 auto ;
  }
  nav{
    width: 414px;
  }
  .carrusel-respo{
    width: 414px;
  }

  .contenido-menu .sub-contenido-menu{
    padding: 1rem;
    border-bottom: 1px solid white;
  }

  .submenu-boot li{
    padding: 20px;
  }

  ul ul li {
    width: 250px;
  }

  .menu-boot{
    .flecha-ojeadores{
      margin-left: 9em;
    }
    .flecha-ligas{
      margin-left: 12.2em;
    }
    .flecha-copas{
      margin-left: 11.8em;
    }
    .flecha-equipos{
      margin-left: 10.8em;
    }
    .flecha-selecciones{
      margin-left: 8.2em;
    }
    &:hover{
      border-bottom: none;
    }
  }
  .submenu-boot li{
    .flecha-jug{
      margin-left: 46%;
    }
    .flecha-dt{
      margin-left: 14%;
    }
    .flecha-ligas-arg{
      margin-left: 3.2em;
    }
    .flecha-ligas-ing{
      margin-left: 3.5em;
    }
    .flecha-ligas-esp{
      margin-left: 7.5em;
    }
    .flecha-ligas-ita{
      margin-left: 7.5em;
    }
    .flecha-ligas-ale{
      margin-left: 5.5em;
    }
    .flecha-copas-america{
      margin-left: 5.6em;
    }
    .flecha-copas-eurocopa{
      margin-left: 7.7em;
    }
    .flecha-equipos-arg{
      margin-left: 7.5em;
    }
    .flecha-selecciones-rank{
      margin-left: 5.8em;
    }
  
  }

  .pie{
    display: block;
    position: relative;
    bottom: 75px;
    width: 414px;
  }
  .contacto{
    display: block;
  }
  .redes{
    margin-top: 50px;
  }
  footer .redes{
    i{
      font-size: 1rem;
      background-color: black;
      border-radius: 50%;
      padding: 11px;
      position: relative;
      right: 15px;
    }
    #logo-facebook{
      padding: 12px 15px;
    }
  } 
  
}

